.Form-message {
  width: 600px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  position: fixed;
  height: 80px;
  border-top: 1px #989797 solid;
  padding-top: 10px;
}
.Form-message input {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #212121;
  color: white;
  border: none;
  outline: none;
}
.Form-message input[type="text"] {
  width: 100%;
  padding: 10px 20px;
}
.Form-message svg {
  fill: #8774e1;
  border-radius: 100%;
  cursor: pointer;
  padding: 9px;
  background-color: #212121;
  transition: all 0.2s ease;
}
.Form-message svg:hover {
  fill: #e5ffff;
  background-color: #766ac8;
}
.Form-message input[type="submit"] {
  display: none;
}
.Form-message input[type="submit"]:hover {
  background-color: #423e3e;
}
